@import "../../styles/common";

.app-header-com {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $HEIGHT_TITLE_BAR;
  border-bottom: 1px solid $COLOR_BG_MAIN;

  .titlebar {
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    background-color: #252937;
    color: #9CA0AC;
    font-weight: normal;
    -webkit-app-region: drag
  }
}
