@import "../../styles/common";

.app-header-com {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $HEIGHT_TITLE_BAR;
  border-bottom: 1px solid $COLOR_BG_MAIN;
  background-color: $COLOR_BG_SUB;

  .title-bar {
    height: 23px;
    border-bottom: 1px solid $COLOR_BG_MAIN;
    color: #9CA0AC;

    h1.title {
      text-align: center;
      line-height: 22px;
      font-size: 12px;
      font-weight: normal;
      -webkit-app-region: drag;
    }
  }
}
