<div class="gallery-com" (drop)="dropFile($event)">
  <ul class="articles-list">
    <li class="article-item" *ngFor="let item of articles$ | async"
        [ngClass]="{'article-selected': item.selected}"
        (click)="selectArticles(item.article_id)">
      <div class="article-img-container">
        <img alt="图片"
             [src]="'file://' + (item.article_thumb_path ? item.article_thumb_path : item.article_local_path )"
             (load)="loadMethod($event, item)"/>
      </div>
      <p class="article-name">{{item.article_name}}</p>
    </li>
  </ul>
  <canvas #thumbCanvas></canvas>

</div>
