<div class="gallery-com" (drop)="dropFile($event)" (click)="clickOnGallery()" (contextmenu)="rightClickOnGallery($event)">
  <ul class="articles-list">
    <li class="article-item" *ngFor="let item of articles$ | async"
        appDraggable
        [ngClass]="{'article-selected': item.selected}"
        (click)="clickArticleMethod($event, item)"
        (contextmenu)="clickArticleMethod($event, item)">
      <div class="article-img-container">
        <img alt="图片"
             [src]="getThumbPath(item)"
             (load)="loadMethod($event, item)"/>
      </div>
      <p class="article-name">{{item.article_name}}</p>
    </li>
  </ul>
  <div class="context-menu" *ngIf="contextMenuShow"
       [ngStyle]="contextMenuStyle">
    <ng-container *ngIf="articlesSelected.length > 0; else nothing">
      <button (click)="removeArticles($event)">删除</button>
    </ng-container>
    <ng-template #nothing>
      <span>什么都没有啦</span>
    </ng-template>
  </div>
</div>
