/*!
 * @author dawangraoming<admin@yeenuo.net>
 * @date 2018/8/1
 */

::-webkit-scrollbar {
  width: 9px; /*滚动条的宽度*/
}

::-webkit-scrollbar-track {
  height: 105px;
  background: #1C1C1C; /*滚动条的背景颜色*/
  -webkit-border-radius: 5px;
  border-radius: 5px; /*滚动条的圆角宽度*/
}

::-webkit-scrollbar-thumb {
  background: #3F4857;
  -webkit-box-shadow: #83b2e6;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical { /*垂直滚动条的样式*/
  background-color: #3F4857;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover { /*滚动条的hover样式*/
  background-color: #3F4857;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #1C1C1C;
}
