@import "../assets/iconfont.css";
@import "common";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  user-select: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #000415;
  color: $COLOR_FONT_SUB;
  font-size: 12px;
  font-family: "PingFang SC", "SF Pro SC", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

ul, ol {
  list-style: none;
}

div, h1, h2, h3, h4, h5, h6, p, span, dt, dd, li {
  cursor: default;
}

.range-landscape {
  display: flex;
}

.range-vertical {
  display: flex;
  flex-direction: column;
}
