@import "../assets/iconfont.css";
@import "common";
@import "reset";
@import "context-menu";
@import "scrollbar";

.range-landscape {
  display: flex;
}

.range-vertical {
  display: flex;
  flex-direction: column;
}
