<div class="app-main">
  <app-header></app-header>
  <div class="workbench-container range-landscape">
    <div class="toolbar-com range-vertical">
      <span class="hamter-logo"></span>
      <ul class="main-tool-list">
        <li><a class="tool-button" title="placeholder-1"></a></li>
        <li><a class="tool-button" title="placeholder-2"></a></li>
        <li><a class="tool-button" title="placeholder-3"></a></li>
      </ul>
    </div>
    <div class="sidebar-com">
      <!--搜索功能-->
      <div class="search-container">
        <input type="text" placeholder="搜索内容" class="search-input" id="mainSearch">
        <label for="mainSearch"><a class="search-button" title="搜索按钮"></a></label>
      </div>
      <!--列表功能-->
      <div class="categories-container">
        <ul class="categories-list">
          <li class="category category-all">全部分类</li>
          <li class="category" *ngFor="let item of categoriesList$ | async">{{item.id}} {{item.name}}</li>
        </ul>
        <a href="javascript:;" (click)="testAddArt()">测试按钮</a>
        <a href="javascript:;" (click)="testClickDB()">DB测试按钮</a>
      </div>
    </div>

    <div class="gallery-com">

    </div>
  </div>


  <!--<label for="testName">testName</label>-->
  <!--<input type="text" [(ngModel)]="name" id="testName">-->
  <!--<button (click)="inputTestButton()">button</button>-->
  <!--<div>-->
  <!--<input type="text" [(ngModel)]="categoryName" required>-->
  <!--<button (click)="testAddCate()">button</button>-->
  <!--</div>-->
  <!--<ul>-->
  <!--<li *ngFor="let item of categoriesList$ | async">{{item.id}} {{item.name}}</li>-->
  <!--</ul>-->
  <!--<div class="app-main" (drop)="drapFile($event)" (dragover)="dragover($event)" (dragleave)="dragLeave($event)">-->

  <!--</div>-->
</div>

