@import "../styles/common";

.app-main {
  width: 100%;
  height: 100%;
}

.workbench-container {
  width: 100%;
  height: calc(100% - #{$HEIGHT_TITLE_BAR});
}

.toolbar-com {
  width: 51px;
  height: 100%;
  background-color: $COLOR_BG_SUB;
  border-right: 1px solid $COLOR_BG_MAIN;

  .hamter-logo {

  }

  .main-tool-list {
    > li {

    }

    .tool-button {

    }
  }
}

.sidebar-com {
  background-color: #171C2B;

  .search-container {

  }
}
