<div class="sidebar-com">

  <!--列表功能-->
  <div class="categories-container">
    <dl class="categories-list-container system-categories-list">
      <dt class="categories-list-title">系统分类</dt>
      <div class="categories-list-item iconfont" *ngFor="let category of systemCategoryList | async"
           [ngClass]="{
             'icon-home': category.term_name === 'all',
             'icon-folder': category.term_name === 'unclassified',
             'icon-delete': category.term_name === 'trash',
             'categories-list-item-opened': category.term_id === selectedTermId
           }">
        <div class="category-info" (click)="selectTermMethod(category.term_id)">
          <span class="category-name">{{category.term_name}}</span>
          <span class="category-count">{{category.term_count}}</span>
        </div>
      </div>
    </dl>
    <div class="categories-list-container custom-categories-list">
      <h6 class="categories-list-title">个人分类</h6>
      <ul class="categories-list-scroll" (contextmenu)="showContextMenuMethod($event)">
        <ng-container *ngFor="let item of userCategoryList | async">
          <li class="categories-list-item iconfont icon-folder"
              *ngIf="item.term_id !== 1"
              (click)="selectTermMethod(item.term_id)"
              [ngClass]="{
                'on-selected': item.term_id === contextMenuOnTermId,
                'categories-list-item-opened': item.term_id === selectedTermId
              }"
              (contextmenu)="showContextMenuMethod($event, item.term_id)">
            <div class="category-info">
            <span class="category-name"
                  *ngIf="renameTermId !== item.term_id; else inputComponent">{{item.term_name}}</span>
              <ng-template #inputComponent>
                <app-category-input
                  class="category-name-input"
                  (nameInputCompleted)="renameTermCompletedMethod($event)"
                  [sourceName]="item.term_name"
                  [termId]="item.term_id"></app-category-input>
              </ng-template>
              <span class="category-count">{{item.term_count}}</span>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="context-menu" *ngIf="contextMenuShow"
         [ngStyle]="contextMenuStyle">
      <button (click)="addTermMethod()">新建分类</button>
      <ng-container *ngIf="contextMenuOnTermId">
        <button (click)="renameTermMethod($event)">重命名</button>
        <button (click)="removeTermMethod($event)">删除</button>
      </ng-container>
    </div>
  </div>
</div>
