@import "../../styles/common";

.sidebar-com {
  height: 100%;
  background-color: $COLOR_BG_SUB;
  width: 182px;
  min-width: 182px;
}

.categories-container {
  .categories-list {
    padding-top: 14px;

    .categories-list-title {
      font-size: 10px;
      color: #838691;
      padding-left: 6px;
      margin-bottom: 4px;
    }

    .categories-list-item {
      line-height: 26px;
      //padding-left: 38px;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin: 1px 0;
      border: 1px solid transparent;

      &.categories-list-item-opened {
        background-color: $COLOR_FOCUS;
        color: $COLOR_FONT_FOCUS;
        .category-count {
          color: $COLOR_FONT_FOCUS;
        }
      }

      &.categories-list-item-selected {
        &, &:hover {
          background-color: $COLOR_BUTTON_HOVER;
        }
      }

      &:hover {
        background-color: rgba($COLOR_BUTTON_HOVER, 0.8);
      }
      &::before {
        font-size: 16px;
        width: 16px;
        text-align: center;
        margin-left: 14px;
        margin-right: 7px;
      }

      .category-info {
        font-family: "PingFang SC", "SF Pro SC", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-size: 12px;
        display: flex;
        width: calc(100% - 37px);

      }

      .category-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        max-width: calc(100% - 30px);
        cursor: pointer;
      }

      .category-count {
        width: 30px;
        min-width: 30px;
        text-align: right;
        padding-right: 4px;
        color: #A3A5AB;
        font-family: "PingFang SC", "SF Pro SC", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        cursor: pointer;
      }
    }
  }
}

.categories-context-menu {
  position: fixed;
  width: 150px;
  background-color: $COLOR_BG_SUB;
  box-shadow: 0 0 10px $COLOR_BG_MAIN;

  > button {
    display: block;
    width: 100%;
    line-height: 24px;
    margin: 10px 0;
    background-color: $COLOR_BG_SUB;
    color: $COLOR_FONT_MAIN;
    border: none;
    outline: none;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
    
    &:hover {
      background-color: $COLOR_BUTTON_HOVER;
    }
  }
}
