<div class="sidebar-com">

  <!--列表功能-->
  <div class="categories-container">
    <dl class="categories-list">
      <dt class="categories-list-title">系统分类</dt>
      <dd class="categories-list-item iconfont icon-home categories-list-item-selected">
        <div class="category-info">
          <span class="category-name">全部</span>
        </div>
      </dd>
      <dd class="categories-list-item iconfont icon-folder">
        <div class="category-info">
          <span class="category-name">未分类</span>
        </div>
      </dd>
      <dd class="categories-list-item iconfont icon-delete">
        <div class="category-info">
          <span class="category-name">垃圾桶</span>
        </div>
      </dd>
    </dl>
    <dl class="categories-list">
      <dt class="categories-list-title">个人分类</dt>
      <ng-container *ngFor="let item of terms$ | async">
        <dd class="categories-list-item iconfont icon-folder"
            *ngIf="item.term_id !== 1"
            (contextmenu)="showContextMenuMethod(item.term_id, inputCategoryName)">
          <div class="category-info">
            <span class="category-name"
                  [style.display]="renameTermId === item.term_id ? 'none' : ''">{{item.term_name}}</span>
            <input class="category-name"
                   placeholder="请输入分组名"
                   #inputCategoryName
                   [value]="item.term_name"
                   [style.display]="renameTermId !== item.term_id ? 'none' : ''"/>
            <span class="category-count">{{item.term_count}}</span>
          </div>
          <!--<span (click)="removeTermMethod(item.term_id)">删除</span>-->
        </dd>
      </ng-container>
    </dl>
    <div class="categories-context-menu" *ngIf="showContextMenu">
      <button>新建分类</button>
      <button>重命名</button>
      <button>删除</button>
    </div>
    <input type="text" placeholder="添加分组" [(ngModel)]="categoryName" required/>
    <a href="javascript:void(0);" (click)="addTermMethod()">添加分组</a>
  </div>
</div>
